[Desktop Entry]
Comment[en_US]=
Comment=
Exec=code /home/guillaume/dev/fluentflow/Wiki
GenericName[en_US]=
GenericName=
Icon=text-markdown
MimeType=
Name[en_US]=code-wiki
Name=code-wiki
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
