# If the pattern does not contain a slash /, Git treats it as a shell glob pattern and checks for a match against the pathname relative
# to the location of the .gitignore file

# If the pattern ends with a slash, it is removed for the purpose of the following description, but it would only find a match with a directory.
# In other words, foo/ will match a directory foo and paths underneath it, but will not match a regular file or a symbolic link foo
# (this is consistent with the way how pathspec works in general in Git).

# A leading slash matches the beginning of the pathname. For example, "/*.c" matches "cat-file.c" but not "mozilla-sha1/sha1.c".

# __pycache__/ != **/__pycache__/* ?

.vs/
__pycache__/
